@model MvcClient.ViewModel.ExtratoViewModel

<h2>Extrato</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Data.FirstOrDefault().Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data.FirstOrDefault().Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Data.FirstOrDefault().Amount)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Data)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FormatDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Amount)
				</td>
			</tr>
		}
	</tbody>
</table>
